@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #878787;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #7d7d7d;
}
#dropdown-menu-0 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-0 .btn {
  font-size: 8px;
}
#header1-1 H1 {
  color: #ffffff;
  text-align: left;
  font-size: 48px;
}
#header1-1 P {
  color: #00ff4a;
  font-size: 20px;
  text-align: left;
}
#header1-1 DIV {
  text-align: left;
}
#content5-1g .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1g .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1g .mbr-article {
  color: #fff;
}
#content5-1g .mbr-article P {
  color: #000000;
  font-size: 19px;
  text-align: center;
}
#contacts2-7 P {
  color: #000000;
}
#contacts2-7 UL {
  color: #000000;
}

#dropdown-menu-9 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-9 .nav .link,
#dropdown-menu-9 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-9 .navbar,
#dropdown-menu-9 .dropdown-menu {
  background: #878787;
}
#dropdown-menu-9 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-9 .dropdown-menu a:hover,
#dropdown-menu-9 .dropdown-menu a:focus {
  background: #7d7d7d;
}
#dropdown-menu-9 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-9 .btn {
  font-size: 8px;
}
#msg-box4-d .mbr-header__text {
  color: #ffffff;
}
#msg-box4-d .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-d .mbr-article {
  color: #ffffff;
}
#msg-box4-d .mbr-article P {
  text-align: left;
}

#dropdown-menu-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-e .nav .link,
#dropdown-menu-e .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-e .navbar,
#dropdown-menu-e .dropdown-menu {
  background: #878787;
}
#dropdown-menu-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-e .dropdown-menu a:hover,
#dropdown-menu-e .dropdown-menu a:focus {
  background: #7d7d7d;
}
#dropdown-menu-e .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-e .btn {
  font-size: 8px;
}
#msg-box4-f .mbr-header__text {
  color: #ffffff;
}
#msg-box4-f .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-f .mbr-article {
  color: #ffffff;
}

#dropdown-menu-g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-g .nav .link,
#dropdown-menu-g .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-g .navbar,
#dropdown-menu-g .dropdown-menu {
  background: #878787;
}
#dropdown-menu-g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-g .dropdown-menu a:hover,
#dropdown-menu-g .dropdown-menu a:focus {
  background: #7d7d7d;
}
#dropdown-menu-g .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-g .btn {
  font-size: 8px;
}
#msg-box4-i .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#msg-box4-i .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-i .mbr-article {
  color: #ffffff;
}

#dropdown-menu-j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-j .nav .link,
#dropdown-menu-j .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-j .navbar,
#dropdown-menu-j .dropdown-menu {
  background: #878787;
}
#dropdown-menu-j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-j .dropdown-menu a:hover,
#dropdown-menu-j .dropdown-menu a:focus {
  background: #7d7d7d;
}
#dropdown-menu-j .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-j .btn {
  font-size: 8px;
}
#msg-box4-l .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#msg-box4-l .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-l .mbr-article {
  color: #ffffff;
}

#dropdown-menu-m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-m .nav .link,
#dropdown-menu-m .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-m .navbar,
#dropdown-menu-m .dropdown-menu {
  background: #878787;
}
#dropdown-menu-m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-m .dropdown-menu a:hover,
#dropdown-menu-m .dropdown-menu a:focus {
  background: #7d7d7d;
}
#dropdown-menu-m .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-m .btn {
  font-size: 8px;
}
#msg-box4-o .mbr-header__text {
  color: #ffffff;
}
#msg-box4-o .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-o .mbr-article {
  color: #ffffff;
}

#dropdown-menu-p .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-p .nav .link,
#dropdown-menu-p .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-p .navbar,
#dropdown-menu-p .dropdown-menu {
  background: #878787;
}
#dropdown-menu-p .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-p .dropdown-menu a:hover,
#dropdown-menu-p .dropdown-menu a:focus {
  background: #7d7d7d;
}
#dropdown-menu-p .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-p .btn {
  font-size: 8px;
}
#msg-box4-r .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#msg-box4-r .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-r .mbr-article {
  color: #ffffff;
}

#dropdown-menu-s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-s .nav .link,
#dropdown-menu-s .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-s .navbar,
#dropdown-menu-s .dropdown-menu {
  background: #878787;
}
#dropdown-menu-s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-s .dropdown-menu a:hover,
#dropdown-menu-s .dropdown-menu a:focus {
  background: #7d7d7d;
}
#dropdown-menu-s .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-s .btn {
  font-size: 8px;
}
#msg-box4-u .mbr-header__text {
  color: #ffffff;
}
#msg-box4-u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-u .mbr-article {
  color: #ffffff;
}

#dropdown-menu-z .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-z .nav .link,
#dropdown-menu-z .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-z .navbar,
#dropdown-menu-z .dropdown-menu {
  background: #878787;
}
#dropdown-menu-z .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-z .dropdown-menu a:hover,
#dropdown-menu-z .dropdown-menu a:focus {
  background: #7d7d7d;
}
#dropdown-menu-z .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-z .btn {
  font-size: 8px;
}
#msg-box4-11 .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#msg-box4-11 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-11 .mbr-article {
  color: #ffffff;
}

#dropdown-menu-14 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-14 .nav .link,
#dropdown-menu-14 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-14 .navbar,
#dropdown-menu-14 .dropdown-menu {
  background: #878787;
}
#dropdown-menu-14 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-14 .dropdown-menu a:hover,
#dropdown-menu-14 .dropdown-menu a:focus {
  background: #7d7d7d;
}
#dropdown-menu-14 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-14 .btn {
  font-size: 8px;
}
#msg-box4-16 .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#msg-box4-16 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-16 .mbr-article {
  color: #ffffff;
}

#dropdown-menu-17 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-17 .nav .link,
#dropdown-menu-17 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-17 .navbar,
#dropdown-menu-17 .dropdown-menu {
  background: #878787;
}
#dropdown-menu-17 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-17 .dropdown-menu a:hover,
#dropdown-menu-17 .dropdown-menu a:focus {
  background: #7d7d7d;
}
#dropdown-menu-17 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-17 .btn {
  font-size: 8px;
}
#msg-box4-19 .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#msg-box4-19 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-19 .mbr-article {
  color: #ffffff;
}

#dropdown-menu-1a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1a .nav .link,
#dropdown-menu-1a .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-1a .navbar,
#dropdown-menu-1a .dropdown-menu {
  background: #878787;
}
#dropdown-menu-1a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1a .dropdown-menu a:hover,
#dropdown-menu-1a .dropdown-menu a:focus {
  background: #7d7d7d;
}
#dropdown-menu-1a .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-1a .btn {
  font-size: 8px;
}
#msg-box4-1c .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#msg-box4-1c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1c .mbr-article {
  color: #ffffff;
}
#msg-box4-1c .mbr-article P {
  text-align: center;
}

#dropdown-menu-1d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1d .nav .link,
#dropdown-menu-1d .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-1d .navbar,
#dropdown-menu-1d .dropdown-menu {
  background: #878787;
}
#dropdown-menu-1d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1d .dropdown-menu a:hover,
#dropdown-menu-1d .dropdown-menu a:focus {
  background: #7d7d7d;
}
#dropdown-menu-1d .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-1d .btn {
  font-size: 8px;
}
#msg-box4-1f .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#msg-box4-1f .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1f .mbr-article {
  color: #ffffff;
}
